In [5]:
import sys
sys.path.append("../") # go to parent dir

import pandas as pd
import numpy as np
from utils.pers_text_rec import *

In [6]:
annotations = pd.read_csv('/home/gengar/storage/humor-personalization/personalized_nlp/storage/humor/texts/annotations.csv')

In [7]:
annotations.head()

       text_id  annotator_id  is_funny
0  21687865379           160         3
1  21687865379           276         1
2  21687865379          2845         4
3  21687865379          3007         1
4  21687865379          4770         1

In [11]:
#get_weighted_conformity puścić
#get_max_conformity wywalić, nie testpować
#get_min_conformity wywalić, nie testpować
#get_mean_conformity puścić
#get_entropy puścić
#get_weighted_text_controversy puścić
#var_ratio puścić

metric_test = var_ratio("is_funny", annotations)
# texts_controversy_df = texts_controversy_df.groupby("annotator_id").apply(rank)
metric_test[metric_test['annotator_id']==160].sort_values(by=['user_annotation_order'])
# metric_test

,text_id,annotator_id,is_funny,var_ratio,measure_value,user_annotation_order
33813,498640875581632512,160,0,1.00,1.00,0
33749,497736542371053568,160,0,1.00,1.00,1
33655,497470567189323777,160,0,1.00,1.00,2
33648,497466533510393856,160,0,1.00,1.00,3
33645,497456488986992640,160,0,1.00,1.00,4
...,...,...,...,...,...,...
12606,324865615544348672,160,4,-1.00,-1.00,412
4988,208944464062980096,160,3,-1.00,-1.00,413
711,32879659041423360,160,3,-1.00,-1.00,414
1783,56012201835757568,160,4,-1.25,-1.25,415
102,19480244649988097,160,5,-1.50,-1.50,416