In [1]:
import sys
sys.path.append("../") # go to parent dir

import pandas as pd
import numpy as np
from utils.pers_text_rec import *

In [2]:
annotations = pd.read_csv('/home/gengar/storage/humor-personalization/personalized_nlp/storage/humor/texts/annotations.csv')

In [3]:
annotations.head()

       text_id  annotator_id  is_funny
0  21687865379           160         3
1  21687865379           276         1
2  21687865379          2845         4
3  21687865379          3007         1
4  21687865379          4770         1

In [5]:
#get_conformity działą bez rank
#get_weighted_conformity też
#get_max_conformity też
#get_min_conformity też
#get_mean_conformity też
#get_entropy też
#get_weighted_text_controversy też
#var_ratio też

metric_test = get_weighted_text_controversy("is_funny", annotations)
metric_test[metric_test['annotator_id']==160]

['text_id', 'is_funny_controversy', 'is_funny_annotations_count']

,text_id,annotator_id,is_funny,is_funny_controversy,is_funny_annotations_count,is_funny_annotations_count_norm,is_funny_weighted_controversy
0,21687865379,160,3,0.801819,10,0.5625,0.451023
10,21687932514,160,4,1.494175,10,0.5625,0.840474
18,27561052090,160,4,1.277034,10,0.5625,0.718332
25,2057672085995520,160,1,1.609438,10,0.5625,0.905309
42,2780034909601792,160,2,0.693147,8,0.4375,0.303252
...,...,...,...,...,...,...,...
33645,497456488986992640,160,0,0.000000,1,0.0000,0.000000
33648,497466533510393856,160,0,0.000000,3,0.1250,0.000000
33655,497470567189323777,160,0,0.000000,2,0.0625,0.000000
33749,497736542371053568,160,0,0.000000,4,0.1875,0.000000
33813,498640875581632512,160,0,0.000000,3,0.1250,0.000000