In [1]:
import pandas as pd

from pathlib import Path

In [13]:
data_dir = Path('..') / 'storage' / 'data' / 'jester'

data_path = data_dir / 'data_processed.csv'
annotations_path = data_dir / 'annotations_texts_folds.csv'

data_df = pd.read_csv(data_path)
annotations_df = pd.read_csv(annotations_path)

In [17]:
annotations_df

,annotator_id,text_id,humor,text_id_original,annotator_id_original,fold
0,0,0,-7.82,1,0,3
1,1,0,4.08,1,1,3
2,2,0,8.50,1,4,3
3,3,0,-6.17,1,5,3
4,4,0,6.84,1,7,3
...,...,...,...,...,...,...
4136355,31958,99,3.98,100,48481,1
4136356,48693,99,9.22,100,48547,1
4136357,48903,99,-3.50,100,48786,1
4136358,49099,99,-8.79,100,49029,1
4136359,32022,99,5.44,100,73414,1