In [26]:
import pandas as pd

In [12]:
df1 = pd.read_csv('/home/konradkaranowski/storage/personalized-nlp/storage/data/wiki_data/aggression_annotations_users_folds.csv')
t1 = pd.read_csv('/home/konradkaranowski/storage/personalized-nlp/storage/data/wiki_data/aggression_annotated_comments_processed.csv')

In [9]:
df1

,rev_id,worker_id,aggression,aggression_score,rev_id_original,worker_id_original,fold
0,0,1362,1.0,-1.0,37675,1362,9
1,0,2408,0.0,1.0,37675,2408,3
2,0,1493,0.0,0.0,37675,1493,1
3,0,1439,0.0,0.0,37675,1439,7
4,0,170,0.0,0.0,37675,170,4
...,...,...,...,...,...,...,...
1365212,115863,628,0.0,0.0,699897151,628,9
1365213,115863,15,0.0,0.0,699897151,15,1
1365214,115863,57,0.0,0.0,699897151,57,5
1365215,115863,1815,0.0,0.0,699897151,1815,4
1365216,115863,472,0.0,0.0,699897151,472,7

In [13]:
t1

,rev_id,comment,year,logged_in,ns,sample,split,rev_id_original
0,0,`-NEWLINE_TOKENThis is not ``creative``. Thos...,2002,True,article,random,train,37675
1,1,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,2002,True,article,random,train,44816
2,2,"NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...",2002,True,article,random,train,49851
3,3,"Next, maybe you could work on being less cond...",2002,True,article,random,dev,89320
4,4,This page will need disambiguation.,2002,True,article,random,train,93890
...,...,...,...,...,...,...,...,...
115859,115859,`NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENThese ...,2016,True,article,blocked,train,699848324
115860,115860,NEWLINE_TOKENNEWLINE_TOKENThe Institute for Hi...,2016,True,article,blocked,test,699851288
115861,115861,NEWLINE_TOKEN:The way you're trying to describ...,2016,True,article,blocked,train,699857133
115862,115862,NEWLINE_TOKENNEWLINE_TOKEN== Warning ==NEWLINE...,2016,True,user,blocked,dev,699891012
115863,115863,Alternate option===NEWLINE_TOKENIs there perha...,2016,True,article,blocked,train,699897151

In [10]:
df2 = pd.read_csv('/home/konradkaranowski/storage/personalized-nlp/storage/data/wiki_data/aggression_annotations.tsv', sep='\t')

In [11]:
df2

            rev_id  worker_id  aggression  aggression_score
0            37675       1362         1.0              -1.0
1            37675       2408         0.0               1.0
2            37675       1493         0.0               0.0
3            37675       1439         0.0               0.0
4            37675        170         0.0               0.0
...            ...        ...         ...               ...
1365212  699897151        628         0.0               0.0
1365213  699897151         15         0.0               0.0
1365214  699897151         57         0.0               0.0
1365215  699897151       1815         0.0               0.0
1365216  699897151        472         0.0               0.0

[1365217 rows x 4 columns]

In [14]:
df1.groupby('fold').count()

,rev_id,worker_id,aggression,aggression_score,rev_id_original,worker_id_original
fold,,,,,,
0,146069,146069,146069,146069,146069,146069
1,128369,128369,128369,128369,128369,128369
2,143300,143300,143300,143300,143300,143300
3,141994,141994,141994,141994,141994,141994
4,130553,130553,130553,130553,130553,130553
5,129851,129851,129851,129851,129851,129851
6,133117,133117,133117,133117,133117,133117
7,139405,139405,139405,139405,139405,139405
8,134379,134379,134379,134379,134379,134379
9,138180,138180,138180,138180,138180,138180

In [1]:
import pandas as pd

In [2]:
x = pd.read_csv('/home/konradkaranowski/storage/personalized-nlp/storage/data/unhealthy_conversations/unhealthy_full.csv').dropna()

In [3]:
texts = x[['comment', '_unit_id']]

In [4]:
texts = texts.rename(columns={'_unit_id': 'text_id'}).drop_duplicates()
texts

                                                  comment     text_id
0       Moon, Do you *really* need it spelled out to you?  2028122383
1       It means you can ask the values questions, but...  2327208388
2                                         To you perhaps.  1812167562
3       I don't want to put words in your mouth, but a...  2319155917
4       perhaps this is not a problem seeing as how ev...  1812168807
...                                                   ...         ...
211750  Shocked at finding out who the wealth creators...  1739457506
211957             Crow is served with black crow coffee.  1739449680
213522  Or Doug Saunders! Love to see Doug and Margare...  1739469557
214062  Your declaration IS basically the left-right p...  1739458773
220869  zero sympathy from me. why do these corporatio...  1739446021

[48901 rows x 2 columns]

In [5]:
x = x.drop(columns=['comment'])
x = x.rename(columns={'_unit_id': 'text_id', '_worker_id': 'annotator_id'})

In [6]:
x

,text_id,_trust,annotator_id,antagonize,condescending,dismissive,generalisation,generalisation_unfair,healthy,hostile,sarcastic
0,2028122383,0.9333,44856405,0,0,0,0,0.0,1,0,0
1,2327208388,0.9348,45322411,0,0,0,1,1.0,0,0,0
2,1812167562,0.9929,44126774,0,0,0,0,0.0,1,0,0
3,2319155917,0.9778,45178195,0,0,0,0,0.0,1,0,0
4,1812168807,0.9145,44619566,0,0,0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
227970,1739450093,0.9071,6377879,0,0,0,0,0.0,1,0,0
227971,1739449742,0.8908,21459945,1,1,1,0,0.0,1,1,1
227972,1739443029,0.9716,43850628,0,1,0,0,0.0,0,0,0
227973,1812168293,0.8409,44665560,0,0,0,0,0.0,1,0,0
227974,1739467981,0.9000,44549002,1,1,0,1,1.0,0,1,1

In [7]:
texts.to_csv('uc_texts.csv', index=False)
x.to_csv('uc_annotations.csv', index=False)

In [73]:
x = pd.read_csv('/home/konradkaranowski/storage/personalized-nlp/storage/data/unhealthy_conversations/uc_annotations_users_folds.csv')
y = pd.read_csv('/home/konradkaranowski/storage/personalized-nlp/storage/data/unhealthy_conversations/uc_annotations_texts_folds.csv')
texts = pd.read_csv('/home/konradkaranowski/storage/personalized-nlp/storage/data/unhealthy_conversations/uc_texts_processed.csv') 
x['text_id'].sort_values()

0             0
168002        0
115298        0
113311        0
77499         0
          ...
218176    48899
215188    48899
224004    48900
220845    48900
225302    48900
Name: text_id, Length: 227948, dtype: int64

In [74]:
y['text_id'].sort_values()

0             0
168002        0
115298        0
113311        0
77499         0
          ...
218176    48899
215188    48899
224004    48900
220845    48900
225302    48900
Name: text_id, Length: 227948, dtype: int64

In [77]:
texts['text_id'].sort_values()

0            0
1            1
2            2
3            3
4            4
         ...
48896    48896
48897    48897
48898    48898
48899    48899
48900    48900
Name: text_id, Length: 48901, dtype: int64

In [3]:
x = """storage/data/clarin_emo_sent/data_processed.csv
storage/data/clarin_emo_text/annotations_texts_folds.csv
storage/data/clarin_emo_text/annotations_users_folds.csv
storage/data/clarin_emo_text/data_processed.csv
storage/data/humicroedit/annotations_texts_folds.csv
storage/data/humicroedit/annotations_users_folds.csv
storage/data/humicroedit/data_processed.csv
storage/data/humor/texts/annotations_texts_folds.csv
storage/data/humor/texts/annotations_users_folds.csv
storage/data/humor/texts/data_processed.csv
storage/data/jester/data_processed.csv
storage/data/jester/jester_annotations_texts_folds.csv
storage/data/jester/jester_annotations_users_folds.csv
storage/data/measuring_hate_speech/annotations_texts_folds.csv
storage/data/measuring_hate_speech/annotations_users_folds.csv
storage/data/measuring_hate_speech/data_processed.csv
storage/data/unhealthy_conversations/uc_annotations.csv
storage/data/unhealthy_conversations/uc_annotations_texts_folds.csv
storage/data/unhealthy_conversations/uc_annotations_users_folds.csv
storage/data/unhealthy_conversations/uc_texts.csv
storage/data/unhealthy_conversations/uc_texts_processed.csv
storage/data/wiki_data/aggression_annotated_comments_processed.csv
storage/data/wiki_data/aggression_annotations_texts_folds.csv
storage/data/wiki_data/aggression_annotations_users_folds.csv
storage/data/wiki_data/attack_annotated_comments_processed.csv
storage/data/wiki_data/attack_annotations_texts_folds.csv
storage/data/wiki_data/attack_annotations_users_folds.csv
storage/data/wiki_data/toxicity_annotated_comments_processed.csv
storage/data/wiki_data/toxicity_annotations_texts_folds.csv
storage/data/wiki_data/toxicity_annotations_users_folds.csv"""

In [6]:
for file in x.split('\n'):
    print(f'dvc add {file}')
    print(f'git add storage/data/clarin_emo_sent/.gitignore {file}.dvc')

dvc add storage/data/clarin_emo_sent/data_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/clarin_emo_sent/data_processed.csv.dvc
dvc add storage/data/clarin_emo_text/annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/clarin_emo_text/annotations_texts_folds.csv.dvc
dvc add storage/data/clarin_emo_text/annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/clarin_emo_text/annotations_users_folds.csv.dvc
dvc add storage/data/clarin_emo_text/data_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/clarin_emo_text/data_processed.csv.dvc
dvc add storage/data/humicroedit/annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/humicroedit/annotations_texts_folds.csv.dvc
dvc add storage/data/humicroedit/annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/humicroedit/annotations_users_folds.csv.dvc
dvc add storage/data/humicroedit/data_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/humicroedit/data_processed.csv.dvc
dvc add storage/data/humor/texts/annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/humor/texts/annotations_texts_folds.csv.dvc
dvc add storage/data/humor/texts/annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/humor/texts/annotations_users_folds.csv.dvc
dvc add storage/data/humor/texts/data_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/humor/texts/data_processed.csv.dvc
dvc add storage/data/jester/data_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/jester/data_processed.csv.dvc
dvc add storage/data/jester/jester_annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/jester/jester_annotations_texts_folds.csv.dvc
dvc add storage/data/jester/jester_annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/jester/jester_annotations_users_folds.csv.dvc
dvc add storage/data/measuring_hate_speech/annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/measuring_hate_speech/annotations_texts_folds.csv.dvc
dvc add storage/data/measuring_hate_speech/annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/measuring_hate_speech/annotations_users_folds.csv.dvc
dvc add storage/data/measuring_hate_speech/data_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/measuring_hate_speech/data_processed.csv.dvc
dvc add storage/data/unhealthy_conversations/uc_annotations.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/unhealthy_conversations/uc_annotations.csv.dvc
dvc add storage/data/unhealthy_conversations/uc_annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/unhealthy_conversations/uc_annotations_texts_folds.csv.dvc
dvc add storage/data/unhealthy_conversations/uc_annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/unhealthy_conversations/uc_annotations_users_folds.csv.dvc
dvc add storage/data/unhealthy_conversations/uc_texts.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/unhealthy_conversations/uc_texts.csv.dvc
dvc add storage/data/unhealthy_conversations/uc_texts_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/unhealthy_conversations/uc_texts_processed.csv.dvc
dvc add storage/data/wiki_data/aggression_annotated_comments_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/aggression_annotated_comments_processed.csv.dvc
dvc add storage/data/wiki_data/aggression_annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/aggression_annotations_texts_folds.csv.dvc
dvc add storage/data/wiki_data/aggression_annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/aggression_annotations_users_folds.csv.dvc
dvc add storage/data/wiki_data/attack_annotated_comments_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/attack_annotated_comments_processed.csv.dvc
dvc add storage/data/wiki_data/attack_annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/attack_annotations_texts_folds.csv.dvc
dvc add storage/data/wiki_data/attack_annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/attack_annotations_users_folds.csv.dvc
dvc add storage/data/wiki_data/toxicity_annotated_comments_processed.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/toxicity_annotated_comments_processed.csv.dvc
dvc add storage/data/wiki_data/toxicity_annotations_texts_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/toxicity_annotations_texts_folds.csv.dvc
dvc add storage/data/wiki_data/toxicity_annotations_users_folds.csv
git add storage/data/clarin_emo_sent/.gitignore storage/data/wiki_data/toxicity_annotations_users_folds.csv.dvc